<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Organizador</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <app-modal-register></app-modal-register>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ user.firstName }} {{ user.lastName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="/registrar" class="dropdown-item">
              Registrar Elemento
            </a>
            <a [routerLink]="['/prestamos']" class="dropdown-item">
              Sistemas De Prestamos
            </a>
            <a
              *ngIf="user.role === 'ADMIN_ROLE'"
              [routerLink]="['/registrarse']"
              class="dropdown-item"
            >
              Nuevo Usuario
            </a>
            <a [routerLink]="['/propiedades', 'type']" class="dropdown-item">
              Agregar Propiedades
            </a>
            <a [routerLink]="['/delete-propiedades', 'type']" class="dropdown-item">
              Eliminar Propiedades
            </a>
            <div class="dropdown-divider"></div>
            <button (click)="logout()" class="dropdown-item">
              Cerrar Session
            </button>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline mr-auto my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
    </div>
  </div>
</nav>
