<div style="max-width: 100%;" class="row">
  <div class="col-12 col-md-8">
    <div class="contenedor-recibo">
      <div class="alert alert-danger col-md-5-mt-3" *ngIf="error">
        {{ error }}
      </div>
      <div class="alert alert-info col-md-5-mt-3" *ngIf="total === 0">
        No tiene ninguna herramiena prestada
      </div>
      <div class="form-group">
        <div
          [id]="'recibo' + inventario.inventarioId._id"
          *ngFor="let inventario of inventory"
          class="contenedor-prestadas"
        >
          <div class="form-check">
            <input
              class="form-check-input position-static"
              type="checkbox"
              name="ok"
              value="bbcita"
              id="ok"
              (click)="toogleOk(inventario.inventarioId._id)"
            />
          </div>
          <div for="ok" class="prestadas-title">
            <h3>
              {{ inventario.inventarioId.name }}
              <small
                ><strong>Cantidad: </strong>
                {{ inventario.inventarioId.quantify }}</small
              >
            </h3>
          </div>
          <div class="prestadas-image">
            <button class="btn btn-primary">foto</button>
          </div>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Prestamista</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4><strong>Nombre:</strong> {{ lender.name }}</h4>
            <h4><strong>Correo: </strong>{{ lender.email }}</h4>
            <h4><strong>Organizacion: </strong>{{ lender.organization }}</h4>
            <h4><strong>Telefono: </strong>{{ lender.number }}</h4>
          </div>

          <div class="mt-3 col-12">
            <button
              [disabled]="entrega.length === 0"
              [ngClass]="{
                'btn-outline-danger': entrega.length === 0,
                'btn-outline-success': entrega.length !== 0
              }"
              (click)="herramientaSeleccionadas()"
              class="btn mr-3"
            >
              Devolver {{ entrega.length }}
            </button>
            <button
              [ngClass]="{
                'btn-outline-danger': entrega.length !== 0,
                'btn-outline-success': entrega.length === 0
              }"
              [disabled]="entrega.length !== 0"
              (click)="entregarHerramienta()"
              class="btn"
            >
              Devolver Todo: {{ total }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
