<app-header></app-header>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="lenderModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Registrar Prestamista
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formLender="ngForm" (ngSubmit)="saveLender(formLender)">
          <div class="row form-group">
            <div class="col-6">
              <label for="name">Nombre: </label>
              <input
                type="text"
                name="name"
                ngModel
                placeholder="Nombre"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="surname">Apellidos: </label>
              <input
                type="text"
                name="surname"
                ngModel
                placeholder="Apellidos"
                class="form-control"
              />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-6">
              <label for="email">Correo:</label>
              <input
                type="email"
                name="email"
                ngModel
                placeholder="ejemplo@gmail.com"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="organization">Organizacion</label>
              <input
                name="organization"
                ngModel
                type="text"
                placeholder="Eventos, Bodas, Cumpleaños..."
                class="form-control"
              />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-6">
              <label for="number">Telefono</label>
              <input
                type="tel"
                name="number"
                ngModel
                placeholder="+57 3034254354"
                class="form-control"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  style="
    max-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    background: #fff;
  "
  class="row mx-auto animate__animated animate__backInLeft"
>
  <div class="col-12 col-md-3" style="overflow-y: auto; max-height: 100vh;">
    <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="btn btn-outline-primary shadow"
        type="button"
        data-toggle="modal"
        data-target="#lenderModal"
      >
        <i class="fas fa-plus"></i> Agregar Prestamista
      </button>
      <a
        class="nav-link"
        id="v-pills-profile-tab"
        data-toggle="pill"
        href="#v-pills-profile"
        role="tab"
        [routerLink]="['/prestamos', lender._id]"
        routerLinkActive="active"
        aria-controls="v-pills-profile"
        aria-selected="false"
        *ngFor="let lender of lenders"
      >
        {{ lender.name }} - {{ lender.organization }}
        <a
          [routerLink]="['/recibo', lender._id]"
          class="btn btn-sm btn-secondary btn-block mt-2"
        >
          Mas Informacion
        </a>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-5">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12 col-md-4">
    <div class="row border">
      <div class="col-12">
        <h2 class="text-center">Sistema De Prestamo</h2>
      </div>
      <div class="col-12 mt-3">
        <h3 class="lead">
          <strong>Nombre:</strong> {{ lenderById.name || "Sin Nombre" }}
        </h3>
        <h3 class="lead">
          <strong>Organizacion:</strong>
          {{ lenderById.organization || "Sin Organizacion" }}
        </h3>
      </div>
      <div style="overflow-y: auto; max-height: 400px;" class="col-12 mt-3">
        <ul class="list-group list-group-flush">
          <div
            *ngFor="let ld of lenderPrestar"
            (click)="modificarCantidad(ld._id)"
            class="list-group-item d-flex justify-content-between"
          >
            <h4>
              {{ ld.name }} - <small>{{ ld.quantify }}</small>
            </h4>

            <button
              (click)="borrarPestrarHerramienta(ld._id)"
              class="btn btn-outline-danger"
            >
              <i class="fas ml-auto fa-times"></i>
            </button>
          </div>
          <!-- <div class="list-group-item d-flex justify-content-between">
            <h4>Martillo - <small>50</small></h4>

            <button class="btn btn-outline-danger">
              <i class="fas ml-auto fa-times"></i>
            </button>
          </div>
          <div class="list-group-item d-flex justify-content-between">
            <h4>Martillo - <small>50</small></h4>

            <button class="btn btn-outline-danger">
              <i class="fas ml-auto fa-times"></i>
            </button>
          </div> -->
        </ul>
      </div>

      <button
        (click)="prestarHerramienta()"
        class="btn btn-outline-success btn-block"
      >
        Prestar
      </button>
    </div>
  </div>
</div>
